.navbar-light .navbar-brand{
    color:red;
}

.page-title{
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
    font-weight: bold;
    
}

.separation-page-title{
    border-top: 1px solid lightgrey;
}

.main-subtitle{
    margin-left: 50px;
    font-weight: lighter;
    font-size: 15px; 
}

.category-style{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 30px;
}

.taille-image{
    height: 20px;
    width: 15px;
}